@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: "Circe", sans-serif;
  font-weight: 400;
  color: #263057;
}

button {
  background-color: #6984F0;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  border-radius: 60px;
}

.header, .startPage, .tariff, .aboutCompany,
.news, .doc, .partners, .footer {
  width: 1180px;
  margin: 0 auto;
}

.tariff_wrapper {
  background: #E5E5E5;
}

.news_wrapper, .partners_wrapper {
  background: #F1F2F4;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  text-align: center;
}

.drops {
  display: flex;
  justify-content: space-between;
  width: 54px;
  height: 9px;
  margin: 0 auto;
}

.drop {
  width: 9px;
  height: 9px;
  background: #E5E5E5;
  border-radius: 5px;
  color: #263057;
}

.dropActive {
  background: #6984F0;
}

input {
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  padding-left: 25px;
}

.header {
  height: 145.3184814453px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.header_nav__list {
  display: flex;
  justify-content: space-between;
  width: 427px;
}

.header_logo {
  height: 95.3184814453px;
  width: 157.9259338379px;
}

.header_nav__list-item {
  font-size: 18px;
  line-height: 26.53px;
}

.header_inf {
  display: flex;
  justify-content: space-between;
  width: 172px;
}

.header_inf__img {
  width: 29px;
  height: 29px;
}

.header_inf__phone {
  font-weight: 700;
  font-size: 17px;
}

.header_inf__text {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.28em;
  text-align: left;
  color: gray;
}

.header_buttons-button1 {
  font-size: 15px;
  line-height: 22.11px;
  border-radius: 30px;
  height: 34px;
  width: 171.6667480469px;
  border: 1px solid #6984F0;
}

.header_buttons-button2 {
  font-size: 15px;
  line-height: 22.11px;
  border-radius: 30px;
  background-color: #263057;
  border: 1px solid #263057;
  width: 148px;
  height: 34px;
}

.startPage_wrapper {
  background: linear-gradient(136.49deg, #263057 25.34%, #1D1444 89.06%);
  height: 536px;
}

.startPage {
  background: #FFFFFF;
  height: 450px;
  width: 1180px;
  border-radius: 15px;
  left: -46px;
  top: 35px;
  position: relative;
}
.startPage h1 {
  font-size: 62px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
  margin-top: 148px;
}
.startPage p {
  font-size: 44px;
  line-height: 40px;
  text-align: left;
}
.startPage button {
  margin-top: 27px;
  width: 222px;
  height: 47px;
}

.startPage_container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.startPage_title {
  margin-left: 108px;
}

.startPage_imgs {
  position: relative;
}

#ellipse, #bag, #tv, #wifi, #woman,
#blue, #green, #glow, #angle {
  position: absolute;
}

#angle {
  right: -46px;
  top: 9px;
}

#glow {
  right: 118px;
  top: 9px;
}

#green {
  right: 3px;
  top: -9px;
}

#blue {
  right: 23px;
  top: 38px;
}

#woman {
  right: 92px;
  top: 25px;
}

#wifi {
  right: 357px;
  top: 128px;
}

#tv {
  right: 60px;
  top: 205px;
}

#bag {
  right: 63px;
  top: 305px;
}

#ellipse {
  right: 186px;
  top: 32px;
}

.startPage_nav {
  margin: 0 auto;
  width: 73px;
  height: 9px;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  position: relative;
  left: 34px;
  top: 3px;
  z-index: 999;
}

.startPage_nav_dropActive {
  background: #6984F0;
  width: 28px;
  height: 9px;
  border-radius: 5px;
}

.tariff_wrapper {
  padding-bottom: 32px;
}

.tariff {
  width: 1180px;
}
.tariff h2 {
  padding-top: 54px;
  margin-bottom: 23px;
}

.tariff_sectionOne {
  height: 602px;
  width: 1180px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}
.tariff_sectionOne button {
  height: 45px;
  width: 264px;
  border-radius: 60px;
}

.tariff_sectionOne__nav {
  margin: 0 auto;
  width: 948px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  padding-top: 52px;
}
.tariff_sectionOne__nav li {
  display: flex;
  align-items: center;
}
.tariff_sectionOne__nav li img {
  padding-left: 10px;
}

.tariff_sectionOne__navActive {
  font-weight: 700;
  border-bottom: 2px solid #6984F0;
}

.tariff_sectionOne__list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.tariff_sectionOne__list__item {
  width: 228px;
  height: 323px;
  border-radius: 30px;
  padding-left: 19px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}
.tariff_sectionOne__list__item p {
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  margin: 10px 0;
}
.tariff_sectionOne__list__item button {
  height: 35px;
  width: 191px;
  margin-bottom: 37px;
}

.tariff_sectionOne__list__item-line {
  background: rgba(38, 48, 87, 0.2);
  height: 1px;
  width: 191px;
  margin-top: 3px;
}

h3, strong {
  font-size: 30px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  margin: 13px 0 4px 0;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-align: left;
  display: flex;
  align-items: center;
}
h4 img {
  margin-right: 16px;
}

.tariff_sectionOne__list__itemActive {
  background: linear-gradient(136.49deg, #263057 25.34%, #1D1444 89.06%);
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.4509803922);
}
.tariff_sectionOne__list__itemActive h3, .tariff_sectionOne__list__itemActive h4, .tariff_sectionOne__list__itemActive p, .tariff_sectionOne__list__itemActive strong {
  color: #FFFFFF;
}
.tariff_sectionOne__list__itemActive div {
  background: #6984F0;
}

.tariff_sectionOne_drops {
  margin-top: 35px;
  margin-bottom: 38px;
}

.tariff_sectionTwo {
  margin-top: 47px;
}

.tariff_sectionTwo__wrapper {
  margin: 0 auto 20px auto;
  width: 1180px;
  height: 200px;
  background: linear-gradient(136.49deg, #263057 25.34%, #1D1444 89.06%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: space-between;
  padding-right: 59px;
  padding-left: 78px;
}
.tariff_sectionTwo__wrapper input {
  height: 46px;
  border-radius: 5px;
}
.tariff_sectionTwo__wrapper button {
  height: 46px;
  width: 223px;
  border-radius: 60px;
}

.tariff_sectionTwo__wrapper_container {
  display: flex;
  justify-content: space-between;
}
.tariff_sectionTwo__wrapper_container input {
  width: 390px;
  margin-top: -6px;
}

#tariff_sectionTwo__wrapper1 {
  padding: 30px 59px 29px 78px;
}

#tariff_sectionTwo__wrapper2 {
  padding: 37px 59px 45px 78px;
}

.tariff_sectionTwo__wrapper_map {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tariff_sectionTwo__wrapper_map-input1 {
  width: 519px;
}

.tariff_sectionTwo__wrapper_map-input2 {
  width: 185px;
}

#tariff_sectionTwo__wrapper3 {
  padding: 77px 59px 0 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tariff_sectionTwo__wrapper-form {
  display: flex;
  width: 473px;
  justify-content: space-between;
}
.tariff_sectionTwo__wrapper-form p {
  color: #FFFFFF;
}

#checkbox {
  width: 12px;
  height: 12px;
  border: 1px solid #FFFFFF;
  background: #263057;
  border-radius: 2px;
}

h5 {
  color: #FFFFFF;
  font-size: 38px;
  font-weight: 700;
  line-height: 49px;
  text-align: left;
}

.aboutCompany_wrapper {
  padding-bottom: 64px;
}

.aboutCompany {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutCompany h2 {
  margin-top: 66px;
}
.aboutCompany button {
  height: 48px;
  width: 250px;
  border-radius: 60px;
  margin-top: 58px;
}

.aboutCompany_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1180px;
  margin-top: 36px;
}

.aboutCompany_container-text_wrapper {
  height: 200px;
  width: 532px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 118px;
  margin-bottom: 24px;
}

.aboutCompany_container-text {
  font-size: 18px;
  line-height: 25px;
  text-align: left;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news h2 {
  margin-top: 91px;
  margin-bottom: 27px;
}
.news button {
  height: 48px;
  width: 250px;
  border-radius: 60px;
  margin-top: 40px;
  margin-bottom: 79px;
}

.news_container {
  display: flex;
  justify-content: space-between;
  width: 1180px;
}

.news_container__card {
  border-radius: 15px;
  background: #FFFFFF;
  height: 426px;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.news_container__card img {
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 14px;
}
.news_container__card a {
  margin: 21px 207px 39px 0;
}
.news_container__card a p {
  height: 16px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: #6984F0;
}

.news_container__card-date {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  margin-right: 229px;
}

.news_container__card-text {
  height: 72px;
  width: 317px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}

.doc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.doc h2 {
  margin-top: 53px;
  margin-bottom: 41px;
}
.doc button {
  height: 48px;
  width: 250px;
  border-radius: 60px;
  margin-top: 40px;
  margin-bottom: 64px;
}

.doc_container {
  background: #F1F2F4;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  width: 1180px;
  padding: 46px 40px;
}

.doc_container__item {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
}
.doc_container__item img {
  margin-right: 17px;
}
.doc_container__item div {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.02em;
  text-align: left;
}

#doc_pair1 {
  width: 311px;
}

#doc_pair2 {
  width: 343px;
}

#doc_pair3 {
  width: 277px;
}

.partners_wrapper {
  padding-bottom: 73px;
}

.partners {
  width: 1180px;
}
.partners h2 {
  padding-top: 68px;
  margin-bottom: 33px;
}

.partners_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.partners_container_companies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1080px;
}

.partners_container_companies-img {
  height: 100px;
  width: 243px;
  border-radius: 15px;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background: linear-gradient(136.49deg, #263057 25.34%, #1D1444 89.06%);
}

@media (max-width: 360px) {
  .header, .startPage, .tariff, .aboutCompany,
.news, .doc, .partners, .footer {
    width: 320px;
  }
  button {
    height: 45px;
    width: 320px;
  }
}

/*# sourceMappingURL=style.css.map */
