@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: "Circe", sans-serif;
  font-weight: 400;
  color: #263057;
}

button {
  background-color: #6984F0;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  border-radius: 60px;
}

.header, .startPage, .tariff, .aboutCompany,
.news, .doc, .partners, .footer {
  width: 1180px;
  margin: 0 auto;
}

.tariff_wrapper, .news_wrapper, .partners_wrapper {
  background: #E5E5E5;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  text-align: center;
}

.drops {
  display: flex;
  justify-content: space-between;
  width: 54px;
  height: 9px;
  margin: 0 auto;
}

.drop {
  width: 9px;
  height: 9px;
  background: #E5E5E5;
  border-radius: 5px;
}

.dropActive {
  background: #6984F0;
}

.header {
  height: 145.3184814453px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.header_nav__list {
  display: flex;
  justify-content: space-between;
  width: 427px;
}

.header_logo {
  height: 95.3184814453px;
  width: 157.9259338379px;
}

.header_nav__list-item {
  font-size: 18px;
  line-height: 26.53px;
}

.header_inf {
  display: flex;
  justify-content: space-between;
  width: 172px;
}

.header_inf__img {
  width: 29px;
  height: 29px;
}

.header_inf__phone {
  font-weight: 700;
  font-size: 17px;
}

.header_inf__text {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.28em;
  text-align: left;
  color: gray;
}

.header_buttons-button1 {
  font-size: 15px;
  line-height: 22.11px;
  border-radius: 30px;
  height: 34px;
  width: 171.6667480469px;
  border: 1px solid #6984F0;
}

.header_buttons-button2 {
  font-size: 15px;
  line-height: 22.11px;
  border-radius: 30px;
  background-color: #263057;
  border: 1px solid #263057;
  width: 148px;
  height: 34px;
}

.startPage_wrapper {
  background: linear-gradient(136.49deg, #263057 25.34%, #1D1444 89.06%);
  height: 536px;
}

.startPage {
  background: #FFFFFF;
  height: 450px;
  width: 1180px;
  border-radius: 15px;
  left: -46px;
  top: 35px;
  position: relative;
}
.startPage h1 {
  font-size: 62px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
  margin-top: 148px;
}
.startPage p {
  font-size: 44px;
  line-height: 40px;
  text-align: left;
}
.startPage button {
  margin-top: 27px;
  width: 222px;
  height: 47px;
}

.startPage_container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.startPage_title {
  margin-left: 108px;
}

.startPage_imgs {
  position: relative;
}

#ellipse, #bag, #tv, #wifi, #woman,
#blue, #green, #glow, #angle {
  position: absolute;
}

#angle {
  right: -46px;
  top: 9px;
}

#glow {
  right: 118px;
  top: 9px;
}

#green {
  right: 3px;
  top: -9px;
}

#blue {
  right: 23px;
  top: 38px;
}

#woman {
  right: 92px;
  top: 25px;
}

#wifi {
  right: 357px;
  top: 128px;
}

#tv {
  right: 60px;
  top: 205px;
}

#bag {
  right: 63px;
  top: 305px;
}

#ellipse {
  right: 186px;
  top: 32px;
}

.startPage_nav {
  margin: 0 auto;
  width: 73px;
  height: 9px;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  position: relative;
  left: 34px;
  top: 3px;
  z-index: 999;
}

.startPage_nav_dropActive {
  background: #6984F0;
  width: 28px;
  height: 9px;
  border-radius: 5px;
}

.tariff {
  width: 1180px;
}
.tariff h2 {
  padding-top: 54px;
  margin-bottom: 23px;
}

.tariff_sectionOne {
  height: 602px;
  width: 1180px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}
.tariff_sectionOne button {
  height: 45px;
  width: 264px;
  border-radius: 60px;
}

.tariff_sectionOne__nav {
  margin: 0 auto;
  width: 948px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  padding-top: 52px;
}
.tariff_sectionOne__nav li {
  display: flex;
  align-items: center;
}
.tariff_sectionOne__nav li img {
  padding-left: 10px;
}

.tariff_sectionOne__navActive {
  font-weight: 700;
  border-bottom: 2px solid #6984F0;
}

.tariff_sectionOne__list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.tariff_sectionOne__list__item {
  width: 228px;
  height: 323px;
  border-radius: 30px;
  padding-left: 19px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}
.tariff_sectionOne__list__item p {
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  margin: 10px 0;
}
.tariff_sectionOne__list__item button {
  height: 35px;
  width: 191px;
  margin-bottom: 37px;
}

.tariff_sectionOne__list__item-line {
  background: rgba(38, 48, 87, 0.2);
  height: 1px;
  width: 191px;
  margin-top: 3px;
}

h3, strong {
  font-size: 30px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  margin: 13px 0 4px 0;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-align: left;
  display: flex;
  align-items: center;
}
h4 img {
  margin-right: 16px;
}

.tariff_sectionOne__list__itemActive {
  background: linear-gradient(136.49deg, #263057 25.34%, #1D1444 89.06%);
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.4509803922);
}
.tariff_sectionOne__list__itemActive h3, .tariff_sectionOne__list__itemActive h4, .tariff_sectionOne__list__itemActive p, .tariff_sectionOne__list__itemActive strong {
  color: #FFFFFF;
}
.tariff_sectionOne__list__itemActive div {
  background: #6984F0;
}

.tariff_sectionOne_drops {
  margin-top: 35px;
  margin-bottom: 38px;
}

.tariff_sectionTwo__wrapper {
  margin: 0 auto 20px auto;
  width: 1180px;
  height: 200px;
  background: linear-gradient(136.49deg, #263057 25.34%, #1D1444 89.06%);
  border-radius: 15px;
}

.tariff_sectionTwo {
  margin-top: 47px;
}

h5 {
  color: #FFFFFF;
  font-size: 38px;
  font-weight: 700;
  line-height: 49px;
  text-align: left;
}

footer {
  background: linear-gradient(136.49deg, #263057 25.34%, #1D1444 89.06%);
}

@media (max-width: 360px) {
  .header, .startPage, .tariff, .aboutCompany,
.news, .doc, .partners, .footer {
    width: 320px;
  }
  button {
    height: 45px;
    width: 320px;
  }
}

/*# sourceMappingURL=style.css.map */
