@import "reset.css"
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap')

@font-face
  font-family: 'Circe'
  src: url("../fonts/Circe-Regular.ttf") format("truetype")
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Circe'
  src: url("../fonts/Circe-Bold.ttf") format("truetype")
  font-weight: 700
  font-style: normal

$blue: #6984F0
$darkBlue: #263057
$white: #FFFFFF
$dark: #26305733
$gray: #E5E5E5

$Manrope: 'Manrope', sans-serif
$Circe: 'Circe', sans-serif

//общие стили
*
  font-family: $Circe
  font-weight: 400
  color: $darkBlue

button
  background-color: $blue
  color: $white
  font-size: 18px
  font-weight: 400
  line-height: 25px
  text-align: center
  border-radius: 60px


//hr
//  border-color: $dark
//  height: 1px

.header, .startPage, .tariff, .aboutCompany,
.news, .doc, .partners, .footer
  width: 1180px
  margin: 0 auto

.tariff_wrapper, .news_wrapper, .partners_wrapper
  background: $gray

// блок header

.header
  height: 145.3184814453125px
  display: flex
  justify-content: space-between
  align-items: center
  padding: 25px 0

.header_nav__list
  display: flex
  justify-content: space-between
  width: 427px

.header_logo
  height: 95.3184814453125px
  width: 157.92593383789062px

.header_nav__list-item
  font-size: 18px
  line-height: 26.53px

.header_inf
  display: flex
  justify-content: space-between
  width: 172px

.header_inf__img
  width: 29px
  height: 29px

.header_inf__phone
  font-weight: 700
  font-size: 17px

.header_inf__text
  font-size: 14px
  line-height: 21px
  letter-spacing: 0.28em
  text-align: left
  color: gray

.header_buttons-button1
  font-size: 15px
  line-height: 22.11px
  border-radius: 30px
  height: 34px
  width: 171.666748046875px
  border: 1px solid $blue

.header_buttons-button2
  font-size: 15px
  line-height: 22.11px
  border-radius: 30px
  background-color: $darkBlue
  border: 1px solid $darkBlue
  width: 148px
  height: 34px

.startPage_wrapper
  background: $darkBlue
  height: 536px
  display: flex
  align-items: center

.startPage
  background: $white
  height: 450px
  width: 1180px
  border-radius: 10px
  h1
    font-size: 62px
    font-weight: 700
    line-height: 56px
    text-align: left
  p
    font-size: 44px
    line-height: 40px
    text-align: left
  button
    width: 222px
    height: 47px











footer
  background: linear-gradient(136.49deg, #263057 25.34%, #1D1444 89.06%)




















@media (max-width: 360px)
  .header, .startPage, .tariff, .aboutCompany,
  .news, .doc, .partners, .footer
    width: 320px

  button
    height: 45px
    width: 320px

